[submodule "clBLAS"]
	path = clBLAS
	url = https://github.com/grantbrown/clBLAS.git
[submodule "eigen"]
	path = eigen
	url = https://github.com/grantbrown/eigen.git
[submodule "LSS_Embedded_Boost"]
	path = LSS_Embedded_Boost
	url = https://github.com/grantbrown/LSS_Embedded_Boost.git
