useDynLib(spatialSEIR)
import(methods)
import(Rcpp)
# Rcpp Modules
export(distanceModel)
export(dataModel)
export(exposureModel)
export(reinfectionModel)
export(transitionPriors)
export(samplingControl)
export(spatialSEIRModel)
# High level fitting functions
export(qSEIR)
export(fit.qSEIR)
export(qSpatialSEIR)
export(fit.qSpatialSEIR)
# Helper Functions
export(buildDistanceModel)
export(buildDataModel)
export(buildReinfectionModel)
export(buildExposureModel)
export(buildExposureModel_depricated)
export(buildSamplingControl)
export(generateCompartmentProposal)
export(generateCompartmentProposal2)
export(plotCompartment)
export(plotTwoCompartments)
export(buildSEIRModel)
export(buildTransitionPriorsFromProbabilities)
export(buildTransitionPriorsManually)
export(buildUniformTransitionPriors)
export(buildInitialValueContainer)
export(buildInitialValueContainerManually)
export(checkConvergence)




