useDynLib(spatialSEIR)
import(methods)
import(Rcpp)
export(spatialSEIRInterface)
export(distanceModel)
export(spatialSEIRModel)
export(spatialSEIRDataModel)
export(generateCompartmentProposal)
export(plotCompartment)
export(plotTwoCompartments)



