useDynLib(spatialSEIR)
import(methods)
import(Rcpp)
# Rcpp Modules
export(distanceModel)
export(dataModel)
export(exposureModel)
export(reinfectionModel)
export(transitionPriors)
export(samplingControl)
export(spatialSEIRModel)
# Helper Functions
export(buildDistanceModel)
export(buildDataModel)
export(buildReinfectionModel)
export(buildExposureModel)
export(buildSamplingControl)
export(generateCompartmentProposal)
export(plotCompartment)
export(plotTwoCompartments)
export(buildSEIRModel)
export(buildTransitionPriorsFromProbabilities)
export(buildTransitionPriorsManually)
export(buildUniformTransitionPriors)
export(buildInitialValueContainer)



